@using AutoService.WEB.Models
@model CarBrand

<div class="col-6 mx-auto m-4 collapse" id="addNewCarBrand">
    @using (@Html.BeginForm("AddNewCarBrand", "AdminMenu", null, FormMethod.Post, new { @class = "carbrandform" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group ">
            <label class="col-form-label">Название автобренда: </label>
            @Html.EditorFor(model => model.BrandName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            <label class="col-form-label">Ссылка на лого бренда: </label>
            @Html.EditorFor(model => model.ImageHref, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class=" text-center">
            <button class="btn btn-outline-dark" type="submit"><i class="mr-1 p-1 fa fa-send"></i>Добавить</button>
        </div>
    }
</div>