@using AutoService.WEB.Models
@model List<ServicesSummaryAdminView>

<div class="row mt-3 p-2 justify-content-center ">
    @Html.ActionLink("За период", "GetOrdersByPeriod", null, new { @class = "dialog btn btn-dark btn-lg m-1" })
    <div class="m-1">
        @using (Ajax.BeginForm("GetAllCompletedOrders", new AjaxOptions { UpdateTargetId = "archiveResults" }))
        {
            <button class="btn btn-dark btn-lg" type="submit">Все заказы</button>
        }
    </div>
    @Html.ActionLink("За день", "GetCompletedOrdersByDay", null, new { @class = "dialog btn btn-dark btn-lg m-1" })
</div>
<div id="archiveResults">
    @Html.Partial("SummariesBlockView", Model)
</div>