@using AutoService.WEB.Models
@model IEnumerable<ServiceView>
    <div class="mt-2">
        <div class="row justify-content-center p-2">
            @foreach (var serviceWithDiscount in Model)
            {
                @Html.Partial("DiscountAdminView", serviceWithDiscount)
            }
        </div>
        <div class="text-center">
            @Html.ActionLink("Добавить скидку", "AddNewDiscount", null, new { @class = "btn btn-lg btn-outline-success" })
        </div>
    </div>