@using AutoService.WEB.Models
@model CarBrand
<div class="modal-content">
    <!-- Заголовок модального окна -->
    <div class="modal-header">
        <h5 class="modal-title">Вы уверенны, что хотите удалить этот автобренд?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Основное содержимое модального окна -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body d-flex">
            <div class="mx-auto">
                <img class="img-fluid" src="@Model.ImageHref" title="@Model.BrandName" alt="Alternate Text" />
            </div>
        </div>
        <!-- Футер модального окна -->
        <div class="modal-footer">
            <button class="btn btn-outline-danger" type="submit">Удалить</button>
            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Закрыть</button>
        </div>
    }
</div>