@using AutoService.WEB.Models
@model SelectDateView
<div class="modal-content">
    <!-- Заголовок модального окна -->
    <div class="modal-header">
        <h5 class="modal-title">Выберите день</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Основное содержимое модального окна -->
    @using (Ajax.BeginForm("GetCompletedOrdersByDay", "AdminMenu", null, new AjaxOptions { UpdateTargetId = "archiveResults" }))
    {
        <div class="modal-body form-horizontal">
            <p class="form-group p-2 text-center">
                <label><i class="fa fa-calendar-check-o fa-lg p-1"></i> День:</label><br />
                @Html.EditorFor(d => d.Date)
            </p>
        </div>
        <!-- Футер модального окна -->
        <div class="modal-footer">
            <button class="btn btn-outline-dark" type="submit"><i class="mr-1 p-1 fa fa-send"></i>Подтвердить</button>
            <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="mr-1 p-1 fa fa-window-close-o"></i>Закрыть</button>
        </div>
    }
</div>