@model int
<div style="font-size:21px">
    @if (Model <= 30)
    {
        <p> Размер скидки: <span class="badge badge-success p-2">@Model <i class="fa fa-percent"></i></span></p>
    }
    else if (Model > 30 && Model < 60)
    {
        <p> Размер скидки: <span class="badge badge-warning  p-2">@Model <i class="fa fa-percent"></i></span></p>
    }
    else
    {
        <p> Размер скидки: <span class="badge badge-danger  p-2">@Model <i class="fa fa-percent"></i></span></p>
    }
</div>