@model int
<div>
    @if (Model <= 30)
    {
        <span class="badge badge-success p-1">@Model <i class="fa fa-percent"></i></span>
    }
    else if (Model > 30 && Model < 60)
    {
        <span class="badge badge-warning p-1">@Model <i class="fa fa-percent"></i></span>
    }
    else
    {
        <span class="badge badge-danger p-1">@Model <i class="fa fa-percent"></i></span>
    }
</div>