@model string
<div class="modal-content">
    <!-- Заголовок модального окна -->
    <div class="modal-header">
        <h5 class="modal-title">Действие "@Model" выполненно успешно.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Основное содержимое модального окна -->

    <div class="modal-body">
        <img class="img-fluid" src="https://img2.freepng.ru/20180719/raw/kisspng-fallout-3-fallout-pip-boy-the-vault-video-game-fal-vault-boy-5b5145324b4b30.0619646715320527863084.jpg" alt="Alternate Text" />
    </div>
    <!-- Футер модального окна -->
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Закрыть</button>
    </div>

</div>
