@using AutoService.WEB.Models
@model List<ServicesSummaryAdminView>
    <div class="mt-2">
        @if (Model.Count>0)
        {
            <div class="row row-cols-5 justify-content-start p-2">
                @foreach (var summary in Model)
                {
                    @Html.Partial("SummaryView", summary)
                }
            </div>
        }
        else
        {
            <h1>
                Пусто
            </h1>
        }
    </div>