@model AutoService.WEB.Models.AdminMenuView

<h2 class="text-center m-2">Меню администратора</h2>
<div class="row">
    <div class="useradminbar col-4 mt-3 mb-3 overflow-auto">

        @foreach (var user in Model.Users)
            {
        @Html.Partial("UserView", user)
            }
    </div>
</div>