<div class="col-xl-3 col-md-5 col-sm-10 mt-2 mb-2">
    <div class="card shadow-sm h-100">
        <div class="card-img-top h-50">
            <img class="img-fluid w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQQicDclsiOj11WTHdETFiDAyOcjUqLIqsSYha_Wirg8BBtqoEh&usqp=CAU" alt="Alternate Text" />
        </div>
        <div class="card-body h-50">
            <div class="card-text text-center">
                Добавьте новый автомобиль
            </div>
        </div>
        <div class="text-center card-footer">
            <a class="dialog btn btn-sm btn-outline-primary" style="width:110px" href="@Url.Action("AddNewCar","Manage")">
                <i class="fa fa-plus mr-1 p-1"></i>Добавить
            </a>
        </div>
    </div>
</div>