@model AutoService.WEB.Models.IndexViewModel



<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#account">Аккаунт</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cars">Мои автомобили</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#basket">Корзина</a>
    </li>
</ul>
<div class="tab-content mt-3">
    @*@Html.Partial("UserAccountSection")*@
    @Html.Partial("UserCarsSection", Model.Cars)
    @*@Html.Partial("UserShopCartSection")*@
</div>

