@model IEnumerable<AutoService.WEB.Models.Service>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="display-4">Услуги</h2>
<div class=" row row-cols-3">
    @foreach (var service in Model)
    {
        <div class="card ml-3 border-dark " style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-5 p-3 mt-5">
                    <img src="@Url.Action("GetImage", "Services", new { service.ServiceId })" />
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">@service.ServiceName</h5>
                        <b>Цена(руб):</b>@service.Price
                        @if (User.IsInRole("Admin"))
                        {
                            <p>
                                <a class="btn btn-dark m-1" href="/Services/Delete/@service.ServiceId">Удалить</a>
                                <a class="btn btn-dark m-1" href="/Services/Edit/@service.ServiceId">Изменить</a>
                            </p>

                        }
                        else
                        {
                            <p>
                                <a class="btn btn-dark" href="#">Добавить в корзину</a>
                            </p>

                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (User.IsInRole("Admin"))
{
    <div class="mb-2 mt-2">
        <a class=" btn btn-dark" href="/Services/Create">Добавить</a>
    </div>
}

