@model IEnumerable<AutoService.WEB.Models.ServiceView>

@{
    ViewBag.Title = "Услуги";
}
<h2 class="display-4 text-center">Услуги</h2>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="row justify-content-center">
    @using (Ajax.BeginForm("GetAllServices", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <button class="btn btn-outline-primary m-1" type="submit"><i class="fa fa-book mr-1 p-1"></i>Все</button>
    }
    @using (Ajax.BeginForm("GetServicesSortedByPrice", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <button class="btn btn-outline-primary m-1" type="submit"><i class="fa fa-bank mr-1 p-1"></i>По цене</button>
    }
    @using (Ajax.BeginForm("GetServicesSortedByDiscount", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <button class="btn btn-outline-primary m-1" type="submit"><i class="fa fa-percent mr-1 p-1"></i>По наличию акции</button>
    }
    @using (Ajax.BeginForm("SearchServicesByName", null, new AjaxOptions { UpdateTargetId = "results" }, new { @class = "form-inline" }))
    {
        
<div class="input-group-append">
    <input type="text" class="form-control ml-2  mr-sm-1 h-auto" placeholder="Поиск по услуге" aria-describedby="button" name="serviceName">
    <button class="btn btn-primary" type="submit" id="button"><i class="fa fa-search mr-1 p-1"></i>Поиск</button>
</div>
    }
</div>
<div class="row justify-content-start" id="results">
    @foreach (var service in Model)
    {
        @Html.Partial("ServiceView", service)
    }
</div>

@section scripts
{
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/scripts/InvokeModalDialog.js")
}