@model IEnumerable<AutoService.WEB.Models.CarBrand>
    <div class="mx-auto col-xl-12 m-2 p-4">
        <div class="card border border-dark">
            <div class="card-header text-white bg-dark text-center h5">Марки с которыми мы работаем</div>
        </div>
        <div class="card-body border border-dark mt-n1 rounded">
            <div class="owl-carousel">
                @foreach (var brand in Model)
                {
                    <div class="m-2">
                        <img src="@brand.ImageHref" alt="@brand.BrandName" title="@brand.BrandName" />
                    </div>
                }
            </div>
        </div>
    </div>