@model IEnumerable<AutoService.WEB.Models.CarBrand>
    <div class="mx-auto col-xl-12 p-0 mb-3">
        <div class="card shadow-sm">
            <div class="card-header text-white bg-dark text-center"><h5>Марки с которыми мы работаем</h5></div>
            <div class="card-body pb-1">
                <div class="owl-carousel owl-theme">
                    @foreach (var brand in Model)
                    {
                        <div class="m-2">
                            <img src="@brand.ImageHref" alt="@brand.BrandName" title="@brand.BrandName" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>