@{
    ViewBag.Title = "Contact";
}

    <link href="~/Content/ViewsCss/Contact.css" rel="stylesheet" type="text/css" />
<div class="contact-header">
    <h1>Контакты</h1>
</div>
<div class="yandex-map-card">
    <div class=" row">
        <div class="col-lg-3">
            <iframe src="https://yandex.ru/map-widget/v1/-/CKA2A21F" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>
        </div>
    </div>
</div>
<div class="bg-info info">
    <h2>Мы в соцсетях</h2>
</div>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
