@model List<AutoService.WEB.Models.ServiceView>

<!--Карточка Акции-->
<div class="col-xl-4 mx-auto m-2">
    <div class="card rounded h-100">
        <div class="card-header bg-dark text-white text-center h5">
            Акции
        </div>
        <div class="card-body p-1 pr-2 pl-2 align-items-center d-flex">
            <div id="DiscountCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item h-100 active">
                        @Html.Partial("HomePageDiscountsitemView", Model[0])
                    </div>
                    @for (int i = 1; i < Model.Count(); i++)
                    {
                        <div class="carousel-item h-100">
                            @Html.Partial("HomePageDiscountsitemView", Model[i])
                        </div>
                    }
                </div>
                <!-- Элементы управления -->
                <a class="carousel-control-prev" href="#DiscountCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                </a>
                <a class="carousel-control-next" href="#DiscountCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                </a>
            </div>
        </div>
    </div>
</div>