@using AutoService.WEB.Models
@model AddNewContactView
@{
    ViewBag.Title = "Добавление новой контактной информации";
}

<div class="col-7 mr-auto ml-auto border border-dark p-2 mt-2">
    <h2>Новый контакт</h2>
    @using (Html.BeginForm("AddNewInfo", "ContactInfo",FormMethod.Post,new { @class = "validate text-danger" }))
    {
    @Html.AntiForgeryToken()
    <p class="form-group">
        @Html.DropDownListFor(model => model.Type, ViewBag.Types as SelectList, new { @class = "form-control" })
    </p>
    <p class="form-group">
        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
    </p>
    <div class="text-right form-group">
        <button class="btn btn-outline-dark" type="submit">Добавить</button>
    </div>
    }
</div>