@{
    ViewBag.Title = "Подтверждение удаления элемента";
}

@using AutoService.WEB.Models
@model ContactItem

<div class="modal-content">
    <!-- Заголовок модального окна -->
    <div class="modal-header">
        <h5 class="modal-title">Вы уверенны, что хотите удалить указанную контактную информацию?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Основное содержимое модального окна -->
    <div class="modal-body">
        <div>
            <div class="m-1 mb-3">
                <label class="font-weight-bold m-0"><i class="fa fa-bookmark mr-1 p-1"></i>Тип информации:</label><br />
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="m-1 mb-3">
                <label class="font-weight-bold m-0"><i class="fa fa-sticky-note mr-1 p-1"></i>Содержание:</label><br />
                @Html.DisplayFor(model => model.Value)
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-footer ">
            <button class="btn btn-outline-danger" type="submit"><i class="mr-1 p-1 fa fa-trash"></i>Удалить</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="mr-1 p-1 fa fa-window-close fa-lg"></i>Закрыть</button>
        </div>
    }
</div>